* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

.guitars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.guitar-card {
    background-color: white;
    border: 3px solid darkslateblue;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.guitar-name {
    text-align: center;
}
.guitar-img {
    width: 350px;
}
.guitar-price {
    color: red;
    text-align: right;
}
.guitar-descp {
    max-width: 350px;
}
